<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welecome To Movie Rate</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <link rel="stylesheet" href="/cssHelper.css">
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
</head>

<body>
<!-- // navbar -->
<div>
    <nav class="uk-navbar-container  uk-navbar-transparent text-bold" style="font-size: 18px;" uk-navbar>

        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" href="#" style="color: aliceblue;">YAM MOVIES</a>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/">Home</a>

                </li>
                <li><a href="/trending">TRENDING</a></li>
                <li><a href="/All_movies">Browser Movie</a></li>
            </ul>

        </div>

        <div class="uk-navbar-right" sec:authorize="!isAuthenticated()">

            <ul class="uk-navbar-nav">
                <a class="uk-button uk-button-default" href="/login" uk-toggle
                   style="margin: 10PX;  color:white ;">lOGIN</a>

                <a class="uk-button uk-button-default" href="#modal-signup" uk-toggle
                   style="margin: 10PX; color: white;">SIGN uP</a>
            </ul>

        </div>
        <div class="uk-navbar-right" sec:authorize="isAuthenticated()">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" sec:authentication="name">username</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a th:href="'/user_Details/'+${userLogged.user.appUserName}">My profile</a></li>
                            <li class="uk-nav-header"></li>
                            <li><a href="/logout">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<hr>


<div class="uk-flex uk-flex-center">

    <form class="uk-search uk-search-navbar uk-flex-inline" action="/search" method="get">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search" name="title">
        <button class="uk-button uk-button-primary" type="submit">search</button>
    </form>

</div>

<hr>

<div class="uk-child-width-1-5@m uk-margin-left uk-grid uk-flex uk-flex-center" uk-grid>

    <div data-role="tile" data-size="large" data-effect="hover-zoom-right" th:each="movie:${movies}"
         style="margin: 10px;">
        <div class="slide-front">
            <img th:src="${movie.imgurl}">
        </div>
        <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
            <a th:href="'/movie/title/'+${movie.title}"><span class="mif-play mif-lg fg-crimson"></span></a>
            <span class="branding-bar" th:text="${movie.title}"></span>
        </div>
        <hr>
    </div>


</div>
<div class="dropdown-button" style="margin: 20px;">
    <a class="uk-button uk-button-primary uk-flex-right" type="submit"
       th:href="'/movies/page/'+${moviePreviousPage}">Previous</a>

</div>
<div class="place-right ">
    <a class="uk-button uk-button-primary" th:href="'/movies/page/'+${moviesPage}" type="submit"
       style="margin: 20px;">Next</a>
</div>


<hr>
<div class="d-flex flex-justify-center">
    <marquee>
        <h1 style="color: white;" class="text-bold"><span class="mif-copyright mif-1x fg-red"></span> This App made
            by
            ASAC STUDENT</h1>
    </marquee>
</div>
</div>
</body>

</html>