<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welecome To Movie Rate</title>
        <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
        <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
        <script src="/js/uikit.min.js"></script>
        <link rel="stylesheet" href="/css/uikit.min.css">
        <link rel="stylesheet" href="/cssHelper.css">

    </head>
<body>
    <div>
        <nav class="uk-navbar-container  uk-navbar-transparent text-bold" style="font-size: 18px;" uk-navbar>
    
            <div class="uk-navbar-left ">
                <a class="uk-navbar-item uk-logo" href="#" style="color: aliceblue;">YAM MOVIES</a>
                <ul class="uk-navbar-nav">
                    <li>
                        <a href="/">Home</a>
    
                    </li>
                    <li><a href="/trending">TRENDING</a></li>
                    <li><a href="/movies/page/1">Browser Movie</a></li>
                </ul>
    
            </div>
    
    
        </nav>
    </div>
    <hr>
    <div class="uk-margin-left uk-margin-right uk-margin-top ">
        <div>
            <div
                    class="uk-card   uk-card-body uk-light uk-animation-slide-right border bd-crimson border-size-2 border-radius-4 border-ridge">
                <h3 class="uk-card-title">Rest Password</h3>
                <hr>
                <form class="uk-form-horizontal uk-margin-large" data-role="validator" action="javascript:"
                      method="post" th:action="@{/reset-password}" th:method="post"  >

                    <div class="uk-margin "  id="passDiv">
                        <label class="uk-form-label" for="form-horizontal-text">Password</label>
                        <div class="uk-form-controls">
                            <input type="password" data-role="input" data-prepend="<span class='mif-lock'></span>"
                                   data-validate="required minlength=8" 
                                   placeholder="Enter Password"  name="password"
                                   class="w-50">
                            <span class="invalid_feedback ">
                                required minimum length=8
                            </span>

                        </div>
                    </div>
                    <div class="uk-margin "  id="rePassDiv">
                        <label class="uk-form-label" for="form-horizontal-text">Retype password</label>
                        <div class="uk-form-controls">
                            <input type="password" data-role="input" data-prepend="<span class='mif-lock'></span>"
                                   data-validate="required compare=password" placeholder="Enter Password"
                                   class="w-50">
                            <span class="invalid_feedback">
                                The Password must match
                            </span>

                        </div>
                    </div>
                    <input name="token" th:value="${token}" hidden="true">


                    <button class="uk-button uk-button-default"  
                            type="submit">save
                    </button>
                    
                </form>
            </div>
        </div>
    </div>
</body>
</html>