<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welecome To Movie Rate</title>
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
<!--    <script src="./js/uikit.min.js"></script>-->
    <link rel="stylesheet" href="./css/uikit.min.css">
    <link rel="stylesheet" href="cssHelper.css">





</head>

<body>
<div>
    <nav class="uk-navbar-container  uk-navbar-transparent text-bold" style="font-size: 18px;" uk-navbar>

        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" href="#" style="color: aliceblue;">YAM MOVIES</a>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/">Home</a>

                </li>
                <li><a href="/trending">TRENDING</a></li>
                <li><a href="/movies/page/1">Browser Movie</a></li>
                <li><a href="/movies/page/1">Browser Movie</a></li>
                <li><a href="/top_movies">Top Movies</a></li>
            </ul>

        </div>


    </nav>
</div>
<hr>


<div class="uk-position-center">
    <div>
        <div
                class="uk-card   uk-card-body uk-light uk-animation-slide-right border bd-crimson border-size-2 border-radius-4 border-ridge">
            <h3 class="uk-card-title">Login</h3>
            <hr>
            <h4 class="text-center" style="color: rgb(245, 14, 14)" th:if="${param.invalidToken}">Invalid token</h4>
            <h4 class="text-center" style="color: rgb(245, 14, 14)" th:if="${param.err}">Invalid username or Password</h4>
            <h4 class="text-center" style="color: rgb(11, 194, 11)" th:if="${param.secs}">Password changed</h4>
            <form class="uk-form-horizontal uk-margin-large md-4" data-role="validator" action="javascript:"
                  method="post" th:action="@{/login_form}">

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">User Name</label>
                    <div class="uk-form-controls">
                        <input type="text" data-role="input" data-prepend="<span class='mif-user'></span>"
                               placeholder="Enter User Name" data-validate="required pattern=^[a-zA-Z0-9_.-]*$"
                               name="username">
                        <span class="invalid_feedback">
                        incorrect Type username
                     </span>

                    </div>
                </div>

                <div class="uk-margin ">
                    <label class="uk-form-label" for="form-horizontal-text">Password</label>
                    <div class="uk-form-controls">
                        <input type="password" data-role="input" data-prepend="<span class='mif-lock'></span>"
                               placeholder="Enter Password" data-validate="required" name="password">
                    </div>
                </div>
                <div class="uk-margin ">
                    <label class="uk-form-label" for="form-horizontal-text">Remmeber me</label>
                    <div class="uk-form-controls">
                        <input type="checkbox" checked data-role="checkbox" data-style="2" data-caption=""
                               data-cls-caption="fg-cyan text-bold" data-cls-check="bd-cyan myCheck" name="remember-me">
                    </div>
                </div>


                <div class="text-center">

                    <button class="uk-button uk-button-secondary ani-hover-horizontal" type="submit">Login</button>
                </div>
                <a href="/forgot-password">Forgot password?</a>
            </form>
        </div>
    </div>


</div>


</body>
</html>