<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welecome To Movie Rate</title>
    <<link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="/js/uikit.min.js"></script>
    <link rel="stylesheet" href="/css/uikit.min.css">
    <link rel="stylesheet" href="/cssHelper.css">
    <link rel="stylesheet" href="/css/singlemovie.css">
    <script>
        window.document.onkeydown = function (e) {
            if (!e) {
                e = event;
            }
            if (e.keyCode == 27) {
                lightbox_close();
            }
        }

        function lightbox_open() {
            var lightBoxVideo = document.getElementById("VisaChipCardVideo");
            window.scrollTo(0, 0);
            document.getElementById('light').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            lightBoxVideo.play();
        }

        function lightbox_close() {
            var lightBoxVideo = document.getElementById("VisaChipCardVideo");
            document.getElementById('light').style.display = 'none';
            document.getElementById('fade').style.display = 'none';
            lightBoxVideo.pause();
        }
    </script>


    <script src="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/js/moovie.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/BMSVieira/moovie.js@latest/css/moovie.min.css">


    <script>
        function view() {
            reviewss = reviews;
        }
    </script>

</head>

<body>

<!-- // navbar -->
<div>
    <nav class="uk-navbar-container  uk-navbar-transparent text-bold" style="font-size: 18px;" uk-navbar>

        <div class="uk-navbar-left ">
            <a class="uk-navbar-item uk-logo" href="#" style="color: aliceblue;">YAM MOVIES</a>
            <ul class="uk-navbar-nav">
                <li>
                    <a href="/">Home</a>

                </li>
                <li><a href="/trending">TRENDING</a></li>
                <li><a href="/movies/page/1">Browser Movie</a></li>
                <li><a href="/top_movies">Top Movies</a></li>
            </ul>

        </div>

        <div class="uk-navbar-right" sec:authorize="!isAuthenticated()">

            <ul class="uk-navbar-nav">
                <a class="uk-button uk-button-default" href="/login" uk-toggle
                   style="margin: 10PX;  color:white ;">lOGIN</a>

                <a class="uk-button uk-button-default" href="#modal-signup" uk-toggle
                   style="margin: 10PX; color: white;">SIGN uP</a>
            </ul>

        </div>
        <div class="uk-navbar-right" sec:authorize="isAuthenticated()">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#" sec:authentication="name">username</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a th:href="'/user_Details/'+${userLogged.user.appUserName}">My profile</a></li>
                            <li class="uk-nav-header"></li>
                            <li><a href="/logout">LogOut</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<hr>

<div class="hero mv-single-hero">

    <div class="container">
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <!--image-->
                    <img th:src="${movie?.imgurl}" alt="">
                    <div class="movie-btn">
                        <div><br/></div>
                        <div class="btn-transform  red">
                            <div>
                                <div uk-lightbox>
                                    <a  class=" reedbtn" th:href="${movie?.trailer}"
                                       data-caption="Trailer" data-attrs="width: 1280; height: 720;">Watch Trailer</a>
                                </div>
                            </div>
                            <div><i class="ion-play"></i>
                            </div>
                        </div>
                        <div class="btn-transform red">
                            <div><a  th:href="'/add_movie_my_favourite/'+${movie.id}" class=" reedbtn"> <i class="ion-card"></i> ADD TO
                                FAVORITE</a>
                            </div>
                            <div><i class="ion-card"></i></a></div>
                        </div>
                        <div class="btn-transform  red">
                            <div>
                                <div >
                                    <div >
                                        <a  class=" reedbtn"
                                            onclick="lightbox_open();" >Watch Full Movie
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div><i class="ion-play"></i>
                            </div>
                        </div>

                        <a class="button secondary" th:href="'/edit_movie_page/'+${movie?.id}"
                           sec:authorize="hasAuthority('ADMIN')">Edit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd"><span style="color: aliceblue" th:text="${movie?.title}"></span> <span><span
                            style="color: aliceblue" th:text="${movie?.release_date}"></span></span></h1>

                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <!-- rate -->
                            <p><span th:text="${movie?.rate}"></span> /10<br>
                                <!-- vote count  -->
                                <span class="rv"><span th:text="${movie?.vot_count}"></span> Reviews</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Rate This Movie: </p>
                            <input data-role="rating" data-stars="10" th:data-value="${movie?.rate}"
                                   data-stared-color="#a10900" data-static="true">
                        </div>
                    </div>
                </div>
                <!-- movie Description -->
                <div class="Description">
                    <h2 style="color: aliceblue">Description</h2>
                    <a style="color: aliceblue"><h5
                            style="color: aliceblue;line-height:1.5;margin-top:10px;font-size: 16px;"
                            th:text="${movie?.overview}"></h5></a>

                </div>
                <hr>
                <h3  style="color: white;border-radius: 2px ">Add your Review</h3>
                <!--Form-->
                <form action="/comment" method="POST" class="" style="padding: 10px; ">

                    <div class="box " >
                        <div class="col-6">
                        </div>
                        <div class="row">

                            <div class="col-10">

                                <input name="title" th:value="${movie.title}" hidden="true">
                                <!--                                <input name="mov" th:value="${movie}" >-->
                                <input data-role="rating" data-stars="10" data-value="${movie?.rate}"
                                       data-stared-color="red" name="rate" id="rate" data-message="Your Rate" data-star-color="green">

                                <textarea type="text" class="input text-center" name="body" id="body"
                                          placeholder="Your Comment Here"></textarea>
                                <button type="submit" value="Submit" style="margin-left: 6cm" class='btn-box'>Add
                                    Comment
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="title-hd-sm">
                    <h4>reviews and comments</h4>


                </div>
                <!--                <button onclick="view()">button</button>-->

                <div style="color: aliceblue" th:each="review:${reviews}" class="title-hd-sm">
                    <!-- movie user review -->
                    <div class="mv-user-review-item">
                        <h3><a
                                > <span
                                style="color: crimson"
                                th:text="${review?.appUser?.appUserName}"></span>
                            <a style="color: white">(</a> <span style="color: aliceblue;font-size: 16px"
                                           th:text="${review?.rate}"></span><a style="color: aliceblue">&nbsp;Stars&nbsp;) </a>
                            <span style="color: aliceblue; font-size:8pt"
                                  th:text="${review?.date}"></span> </a>
                        </h3>


                        <span style="font-size: 14px;"
                              th:text="${review?.body}"></span>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<div id="light">
    <a class="boxclose" id="boxclose" onclick="lightbox_close();"></a>
    <video id="VisaChipCardVideo" width="800" controls>
        <source th:src="${movie?.movieurl}" type="video/mp4">
    </video>
</div>

<div id="fade" onClick="lightbox_close();"></div>

<!-- footer section-->
<hr/>

</body>
</html>